/*======================================
*   SLIDER with thumb
======================================*/
.galleryThumb {
  /*=========== CAPTION ===============*/
  /*=========== THUMBS ===============*/
}
.galleryThumb .caption {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.36)), color-stop(88%, #000000), to(#000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.36) 50%, #000000 88%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.36) 50%, #000000 88%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.36) 50%, #000000 88%, #000000 100%);
}
.galleryThumb ul.lSPager.lSGallery {
  right: 16%;
  position: absolute;
  width: 100% !important;
  left: 0;
  bottom: 0;
  padding-left: 16% !important;
  padding-right: 16% !important;
  padding-bottom: 3%;
  z-index: 10;
}
@media screen and (max-width: 1199px) {
  .galleryThumb ul.lSPager.lSGallery {
    padding: 5% 2% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .galleryThumb ul.lSPager.lSGallery {
    left: 4%;
    right: 4%;
  }
}
@media (max-width: 450px) and (orientation: portrait) {
  .galleryThumb ul.lSPager.lSGallery {
    bottom: 30%;
  }
}
@media (max-width: 991px), (max-width: 900px) and (max-height: 400px) and (orientation: landscape) {
  .galleryThumb ul.lSPager.lSGallery {
    left: 16%;
    bottom: 16%;
  }
}
.galleryThumb ul.lSPager.lSGallery li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.galleryThumb ul.lSPager.lSGallery .thumb-item {
  width: 25%;
  margin: 0;
  border-top: 2px solid #ffffff7a;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .galleryThumb ul.lSPager.lSGallery .thumb-item {
    width: 23%;
  }
}
@media (max-width: 991px) {
  .galleryThumb ul.lSPager.lSGallery .thumb-item {
    width: 16%;
    border-top: 4px solid #ffffff7a;
  }
  .galleryThumb ul.lSPager.lSGallery .thumb-item > * {
    display: none !important;
  }
}
.galleryThumb ul.lSPager.lSGallery .thumb-item.active {
  border-color: #fff;
  border-radius: 0;
}
.galleryThumb ul.lSPager.lSGallery .thumb-item.active a {
  border: 5px solid #ffffff;
}
.galleryThumb ul.lSPager.lSGallery .thumb-item a {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
  float: left;
  border: 5px solid #908f8d;
  margin-right: 10px;
  position: relative;
}
.galleryThumb ul.lSPager.lSGallery .thumb-item img {
  position: absolute;
  width: auto;
  margin: 0;
  max-width: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.galleryThumb ul.lSPager.lSGallery .thumb-caption {
  width: 80%;
  padding-right: 40px;
  align-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.galleryThumb ul.lSPager.lSGallery .thumb-caption p {
  color: #fff !important;
  font-size: 1rem;
  line-height: 1rem;
}
.galleryThumb ul.lSPager.lSGallery .thumb-caption p:last-child {
  font-size: 0.8rem;
  margin: 0;
}
@media (max-width: 1199px) {
  .galleryThumb ul.lSPager.lSGallery .thumb-caption p:last-child {
    font-size: 1rem;
  }
}
.galleryThumb .lSAction > a {
  top: 40%;
}
.galleryThumb .lightSliderAction {
  bottom: 0;
}
/*======================================
*   basic SLIDER
======================================*/
.lSSlideOuter {
  position: relative;
}
.lSSlideOuter li {
  position: relative;
}
.lSSlideOuter li .caption {
  position: absolute;
  width: 100%;
  height: 100%;
}
.lSSlideOuter li .caption .el-content {
  position: absolute;
  bottom: 33%;
  left: 16%;
  width: 50%;
}
@media (max-width: 991px) {
  .lSSlideOuter li .caption .el-content {
    left: 10%;
    width: 45%;
  }
}
.lSSlideOuter li .caption .el-content h1 {
  margin-top: 0.50em;
  margin-bottom: 0.25em;
  line-height: 0.95em;
  font-size: 2.33em;
  font-weight: bold;
}
.lSSlideOuter li .caption .el-content h1 a:hover {
  text-decoration: underline;
  -moz-text-decoration-color: #ffffff;
  text-decoration-color: #ffffff;
}
.lSSlideOuter li .caption .el-content h6 {
  font-size: 0.78em;
  margin-bottom: 0.715em;
}
.lSSlideOuter li .caption .el-content h6 span {
  background-color: #297a38;
  padding: 0.1em 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.lSSlideOuter li .caption .el-content p {
  color: #fff !important;
  font-size: 1em;
  margin-bottom: 1.15em;
  margin-top: 0.8em;
}
@media (max-width: 991px), (max-width: 900px) and (max-height: 400px) and (orientation: landscape) {
  .lSSlideOuter li .caption {
    font-size: 18px;
  }
  .lSSlideOuter li .caption .el-content {
    position: absolute;
    font-size: 1.15em;
    width: 80%;
    left: 10%;
    bottom: 20%;
    right: 10%;
  }
  .lSSlideOuter li .caption .el-content h6 {
    font-size: 0.8em;
  }
  .lSSlideOuter li .caption .el-content h6 span {
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
  }
  .lSSlideOuter li .caption .el-content h1 {
    font-size: 1.2em;
  }
  .lSSlideOuter li .caption .el-content p {
    margin-bottom: 10%;
    margin-top: 5%;
    font-size: 0.6em;
  }
}
@media (max-width: 991px) and (max-height: 400px) and (orientation: landscape) {
  .lSSlideOuter li .caption .el-content h1 {
    font-size: 1.2em;
  }
  .lSSlideOuter li .caption .el-content p {
    font-size: 0.6em;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .lSSlideOuter li .caption .el-content h1 {
    font-size: 1.5em;
  }
}
.lSSlideOuter li.sliderItemDot .caption {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0.7)), color-stop(88%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 88%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 88%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 88%);
}
.lSSlideOuter .lslide {
  position: relative;
}
.lSSlideOuter .lightSlider .lSliderItem img {
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin: 0;
  object-fit: cover;
  height: 100%;
  /*MEDIA QUERY IE 10
        _:-ms-lang(x), .ie10up { height: auto; }
        //MEDIA QUERY IE 11
        _:-ms-fullscreen, :root .ie11up { height: auto; }
        */
}
@media screen and (min-width: 0\0) {
  .lSSlideOuter .lightSlider .lSliderItem img {
    height: auto;
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .lSSlideOuter .lightSlider .lSliderItem img {
    height: auto;
  }
}
@media (max-width: 1023px) {
  .lSSlideOuter .lightSlider .lSliderItem img {
    height: 100%;
    width: 100vw;
    max-width: unset;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .lSSlideOuter .lightSlider .lSliderItem img {
    height: auto;
    width: 100%;
  }
}
.lSSlideOuter .lightSlider ul,
.lSSlideOuter .lightSlider li {
  list-style-type: none;
}
.overlay-bck {
  height: 200px;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 229, 229, 0)), color-stop(80%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(229, 229, 229, 0) 0%, rgba(0, 0, 0, 0.7) 80%);
  background: -o-linear-gradient(top, rgba(229, 229, 229, 0) 0%, rgba(0, 0, 0, 0.7) 80%);
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(0, 0, 0, 0.7) 80%);
  width: 100%;
}
.wrap-lightslider {
  position: relative;
}
.isGalleryClass .lSSlideOuter .lSPager.lSGallery li.active a {
  background-color: #ffffff;
}
.isGalleryClass .lSSlideOuter .lSPager.lSGallery li a {
  color: transparent !important;
  background-color: #333;
  border-radius: 50%;
  padding: 4px 5px;
  font-size: 3px;
  line-height: 5;
}
.lightSliderAction {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  padding-left: 16%;
  z-index: 10;
}
@media screen and (max-width: 1199px) {
  .lightSliderAction {
    padding: 0 2% !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .lightSliderAction {
    left: 4%;
  }
}
/*======================================
*   .gallerySlider - slider with one or more images NO thumb
======================================*/
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem.lslide.active {
  cursor: default;
}
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem:before {
  display: none;
}
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem img {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption {
  width: 100%;
  padding: 5% 30% 7% 30%;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.36)), color-stop(88%, #000000), to(#000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.36) 50%, #000000 88%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.36) 50%, #000000 88%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.36) 50%, #000000 88%, #000000 100%);
}
@media only screen and (max-width: 767px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption {
    width: 100%;
    padding: 5% 10% 10% 10%;
  }
}
@media only screen and (max-width: 639px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption {
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption {
    padding: 5% 5% 15% 5%;
  }
}
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption .el-content {
  left: 32.5%;
  bottom: 10%;
  position: absolute;
  width: 35%;
}
@media only screen and (max-width: 991px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption .el-content {
    left: 25%;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption .el-content {
    left: 10%;
    width: 80%;
    font-size: 16px;
  }
}
@media only screen and (max-width: 414px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption .el-content {
    bottom: 18%;
    font-size: 18px;
  }
}
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption p:first-child {
  background-color: #1089c0;
  padding: 0.1em 1.5em;
  font-size: .875rem;
  display: inline-block;
  line-height: normal;
  text-transform: uppercase;
}
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h1,
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h2,
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h3,
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h4,
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h5 {
  color: #fff;
  font-size: 2.625rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.0em;
}
@media only screen and (max-width: 420px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h1,
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h2,
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h3,
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h4,
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption h5 {
    font-size: 2em;
  }
}
.gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption p {
  color: #fff;
  background-color: transparent;
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.3em;
}
@media only screen and (max-width: 420px) {
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption p {
    font-size: 0.9em;
  }
}
.gallerySlider .lSSlideOuter .lSPager.lSGallery {
  position: absolute;
  bottom: 20px;
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: center;
  z-index: 10;
}
.gallerySlider .lSSlideOuter .lSPager.lSGallery li {
  float: none;
  padding: 0 5px;
}
.gallerySlider .lSSlideOuter .lSPager.lSGallery li:only-child {
  display: none;
}
.gallerySlider .lSSlideOuter .lSPager.lSGallery li a {
  color: #fff;
}
/**
MODIFICHE POST MAIL
 */
ul.lSPager.lSGallery .thumb-caption p:last-child {
  font-size: 1rem;
}
.lSAction > a {
  background-image: none;
  color: #ffffff;
  font-size: 1.5em;
  opacity: 1;
}
.lSAction > a:before {
  position: absolute;
  top: 10px;
  right: 11px;
}
.lSAction > a:hover {
  text-decoration: none;
  color: #297a38;
}
.lSAction > a.lSPrev {
  left: 5%;
}
@media only screen and (max-width: 991px) {
  .lSAction > a.lSPrev {
    left: 1%;
  }
}
.lSAction > a.lSNext {
  right: 5%;
}
@media only screen and (max-width: 991px) {
  .lSAction > a.lSNext {
    right: 1%;
  }
}
ul.lSPager.lSGallery .thumb-caption {
  height: 98px;
}
ul.lSPager.lSGallery .thumb-caption p:last-child {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
@media (max-width: 1199px) {
  .lSSlideOuter .lightSlider .lSliderItem img {
    width: 100%;
    max-width: unset;
  }
}
/* 2688x1242px at 458ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .lSSlideOuter .lightSlider .lSliderItem img {
    width: 100%;
    max-width: unset;
  }
}
/* 2436x1125px at 458ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .lSSlideOuter .lightSlider .lSliderItem img {
    width: 100%;
    max-width: unset;
  }
}
/*RESPONSIVE FIX LANDSCAPE */
@media (max-height: 325px) {
  .gallerySlider .lSSlideOuter,
  .galleryThumb .lSSlideOuter {
    height: 100% !important;
    min-height: 100vh;
  }
  .gallerySlider .lSSlideOuter .lightSlider,
  .galleryThumb .lSSlideOuter .lightSlider {
    height: auto !important;
    min-height: 100vh;
    padding-bottom: 0 !important;
  }
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem,
  .galleryThumb .lSSlideOuter .lightSlider .lSliderItem {
    height: auto !important;
    min-height: 100vh;
  }
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem.lslide.active,
  .galleryThumb .lSSlideOuter .lightSlider .lSliderItem.lslide.active {
    position: relative !important;
  }
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem img,
  .galleryThumb .lSSlideOuter .lightSlider .lSliderItem img {
    width: 100%;
    height: 100% !important;
    min-height: 100vh;
    object-fit: cover;
  }
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption,
  .galleryThumb .lSSlideOuter .lightSlider .lSliderItem .caption {
    position: relative;
    padding: 10% 5%;
    min-height: 100vh;
  }
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption .el-content,
  .galleryThumb .lSSlideOuter .lightSlider .lSliderItem .caption .el-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    position: relative;
  }
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption .el-content h1,
  .galleryThumb .lSSlideOuter .lightSlider .lSliderItem .caption .el-content h1 {
    font-size: 1.35em;
  }
  .gallerySlider .lSSlideOuter .lightSlider .lSliderItem .caption .el-content p,
  .galleryThumb .lSSlideOuter .lightSlider .lSliderItem .caption .el-content p {
    font-size: 0.95em;
  }
}
.lSSlideOuter {
  height: 100vh !important;
}
.lSSlideOuter .lightSlider {
  height: 100vh !important;
}
.lSSlideOuter .lightSlider .lSliderItem {
  height: 100vh !important;
}
.lSSlideOuter .lightSlider .lSliderItem img {
  height: 100vh !important;
}
