body {
    background-image: url("SET_PREPROD_URL/offline/screencapture.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-family: 'Titillium Web';
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

p {
    font-family: 'Titillium Web';
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    position: relative;
}

.container {
    position: relative;
    margin:auto;
    z-index:9;
}
.overlay{
    display: block; 
    position: absolute; 
    height: 100vh; 
    width: 100vw; 
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
    h1{
        font-weight: 700;
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    img {
        height: 40px;
    }
}